<div class="row">
	<div class="col-sm-2">
		<b>{{'THEME' | translate}} </b>
	</div>
	<div class="col-sm-1">
		<button ng-click="themeChoose('default')" type="button" ng-class="{'btn': theme !== 'default', 'btn btn-primary': theme === 'default'}" aria-label="Left Align"> {{ 'DEFAULT' | translate }}</button>
	</div>	
	<div class="col-sm-1">
		<button ng-click="themeChoose('christmas')" type="button" ng-class="{'btn': theme !== 'red', 'btn btn-primary': theme === 'red'}" aria-label="Left Align"> {{ 'XMAS' | translate }}</button>
	</div>
</div>

<br>
