<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Flying Dutchman</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="Dutchman">
  <div class="header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">The Flying Dutchman</a>
        </div>
        <div>
          <ul class="nav navbar-nav" ng-show="loggedIn">
            <li class="active"><a href="#products">{{ 'HOME' | translate}}</a></li>
            <li ><a href="#settings">{{'SETTINGS' | translate}}</a></li>
            <li ><a href="#help">{{'HELP' | translate}}</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <div ng-controller="LoginCtrl">
                <img src ="img/flags/se.svg" style="height:25px;width:25px;margin-top:10px" ng-click="lang('swe')">
              </div>
            </li>
            <li>
              <div ng-controller="LoginCtrl">
                  <img src ="img/flags/gb.svg" style="height:25px;width:25px;margin-top:10px" ng-click="lang('en')">
                </div>
            </li>
            <li> <form class="navbar-form" role="search">
              <div class="input-group" >
                <div  ng-show="loggedIn">
                  <input type="text" class="form-control" placeholder="Search..." ng-model="query">
                </div>
                  <div class="input-group-btn" ng-show="loggedIn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
              </div>
            </form></li>
            <li>
              <div ng-controller="LoginCtrl">
                <button ng-click="logOut()" type="button" class="btn btn-default navbar-btn" ng-show="loggedIn">
                {{'LOGOUT' | translate}}
                </button>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>    
  </div>


  <div class="container" ng-contoller="MainCtrl">
    <div class="row">
      
      <br><br><h1></h1>
      <hr>
      <!-- Here the views get rendered -->
      <div ng-view></div>
    </div>
    <!--<div id="topRight">
      <order-pane></order-pane>
    </div>-->
  </div>
  
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
  <script src="js/angular/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
  <script src="js/angular-route/angular-route.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.min.js"></script>
  <script src="js/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="js/app.js"></script>
  <script src="js/ProductsController.js"></script>
  <script src="js/ProductsFactory.js"></script>
  <script src="js/Directives.js"></script>
  <script src="js/OrderController.js"></script>
  <script src="js/OrderService.js"></script>
  <script src="js/LoginController.js"></script>
  <script src="js/MainController.js"></script>
  <script src="js/UserService.js"></script>
  <script src="js/InventoryService.js"></script>
  <script src="js/AuthService.js"></script>
  <script src="js/SettingsController.js"></script>
  <script src="js/HelpController.js"></script>
  <script src="js/UsersFactory.js"></script>
  <script src="js/UserController.js"></script>
  <script src="js/angular-translate/angular-translate.js"></script>
</body>
</html>
