<div>
<h1>Order</h1>
<hr>
<div class="well" style="max-height: 400px;overflow-y:scroll;">
<ul class="list-unstyled">
	<li ng-repeat="item in order">
	<div class="alert alert-sm alert-info"><h4>{{item.product.namn}}</h4> <small>Quantity: 
	<a href="" ng-click="dec(item)"><i class="glyphicon glyphicon-minus"></i></a> {{item.quantity}} 
	<a href="" ng-click="inc(item)"><i class="glyphicon glyphicon-plus"></i></a>
	
	</small>
	<a href="" ng-click="removeFromOrder(item)"><i class="glyphicon glyphicon-remove pull-right"></i></a>
	</div>
	</li>
</ul>
<hr>	
</div>
<button class="btn btn-lg btn-success" data-ng-disabled="order.length <= 0"
	ng-click="checkout()">Checkout</button>
</div>