<div class="orderpane">
<h1>{{ 'ORDER' | translate }}</h1>
<hr>
<div class="well" style="max-height: 400px;overflow-y:scroll;"
data-drop="true" jqyoui-droppable = "{onDrop: 'drop(item)'}">
<ul class="list-unstyled">
	<li ng-repeat="item in order.items">
	<div class="alert alert-sm alert-info"><h4>{{item.product.namn}}</h4> <small>Quantity: 
	<a href="" ng-click="dec(item)"><i class="glyphicon glyphicon-minus"></i></a> {{item.quantity}} 
	<a href="" ng-click="inc(item)"><i class="glyphicon glyphicon-plus"></i></a>
	</small>
	<a href="" ng-click="removeFromOrder(item)"><i class="glyphicon glyphicon-remove pull-right"></i></a>
	<em>{{item.product.price}} kr </em>
	</div>
	</li>
</ul>
<hr>	
</div>
<h3>Total: <em>{{(order.total | number: 2) + " kr"}}</em></h3>
<button class="btn btn-lg btn-success" data-ng-disabled="order.length <= 0"
	ng-click="checkout()">{{ 'CHECKOUT' | translate }}</button>
<button class="btn btn-lg btn-sm btn-success" ng-click="undo()">{{ 'UNDO' | translate }}</button>
<button class="btn btn-lg btn-sm btn-success" ng-click="redo()">{{ 'REDO' | translate }}</button>
</div>