<h1>Purchase Receipt</h1>
<hr>
<div class="well" style="max-width: 400px;">
	<h2>Tack och välkommen åter!</h2>
	<h3>ID: 33691524</h3>	
	<ul class="list-unstyled">
		<li ng-repeat="item in receipt.items" style="border-bottom: 1px dashed gray; margin-bottom: 20px;">			
				<dl class="dl-horizontal" style="display: inline">
					<dt>ID:</dt>
					<dd>{{item.product.beer_id}}</dd>
					<dt>Name:</dt>
					<dd>{{item.product.namn}}</dd>
					<dt>Price:</dt>
					<dd>{{item.product.price}}</dd>
					<dt>Quantity: </dt>
					<dd>{{item.quantity}}</dd>
				</dl>			
		</li>
	</ul>
	<h3>Total: <em>{{(receipt.total | number: 2) + " kr"}}</em></h3>
	<em>Receipt time: {{receipt.time | date : 'medium'}}</em>
</div>
